/*.p 
{
  font-family: 'Oxygen', sans-serif;
}*/


html, body {
    padding: 0;
    margin: 0;
    height: 100%;
}

.rw-text {
	color: #FEEEEE;
}
.rw-text a{
	color: #FEEEEE;
}
.rw-text a:hover{
	color: #FECECE;
	text-decoration: none;
}
.rw-alpha-black {
    background-color: rgba(0, 0, 0, 0.4);
    padding: 0;
    margin: 0;
    height: 100%;
}

.rw-bg {
    /* Set background image to fill screen. Disable scrolling effectively. */
    background: url(/resources/assets/water.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}