/* ========= layout base ========= */
html, body {
	padding: 0;
	margin: 0;
	height: 100%;

	min-width: 100%;
	min-height: 100%;
}

.rw-bg {
	/* Set background image to fill screen. Disable scrolling effectively. */
	background: url(/resources/assets/water.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}



@media screen and (min-width: 640px)
{
	.col-sm-6 {
		max-width: 768px;
		min-width: 600px;
		/*border: 1px solid black;*/
	}
}

.rw-lighten {
	opacity: .75;
}
.rw-lighten-a {
	opacity: .75;
}
.rw-lighten-a:hover{
	opacity: .9;
	/* probably do something here.*/
}




/* ========= navigation and colors ========= */
.rw-text {
	color: #FEEEEE;
}
.rw-text a{
	color: #FEEEEE;
}
.rw-text a:hover{

	text-decoration: none;
}
.rw-alpha-black {
	padding: 0;
	margin: 0;
	height: 100%;
}

p {
	color: #FEEEEE;
  font-family: 'Open Sans', sans-serif;
}

.rw-small{
	font-size: .8em;
}
.rw-header {
	color: #FFE6BA;
	font-family: 'Nixie One', sans-serif;
  font-size: 4em;
  margin: 0px;
  padding: 0px;
  padding-top: 20px;
  padding-bottom: 20px;

  /*border: 1px solid white;*/
}




/* positioning information */
.rw-img-w {
	position: relative;
	overflow: hidden;
	width: 100px;
	height: 100px; 

	/*border: 1px solid green;*/
}

.rw-vert-offset {
	margin-left: -10px;
	}

.rw-p-w {
	position: relative;
	overflow: hidden;
	padding-left: 10px;
	height: 100px; 

	/*border: 1px solid red;*/

}

.vertical {
	position: relative;
	overflow: hidden;
	width: 10px;
	height: 375px; 

	/*border: 1px solid blue;*/
}




/* ========= Handles offset of center column by force ========= */
.rw-overflow {
	margin: auto;
}
.rw-overflow-inner {
	margin-left: -10px;
}




/* ========= float alignment ========= */
.rw-left {
	float: left;
}




/* ========= animations: Fading and sliding. ========= */
.rw-fade-in {
		animation: fade-in 3s forwards;
}

.rw-opacity-in {
		animation: opac-in 3s forwards;
}

.rw-slide-left-img {
	position: absolute;
	left: -100px;
	width: 100px;
	height: 100px;
	animation: slidel 1.5s forwards;
	animation-delay: 0s;

	/*border: 1px solid cyan;*/
}

.rw-slide-left-p{
	position: absolute;
	left: -100%;
	width: 0%;
	height: 100px;
	padding-left: 10px;
	animation: slidel 2s forwards;
	animation-delay: 0s;

	/*border: 1px solid orange;*/
}

.rw-slide-down {
	position: absolute;
	top: -200px;
	width: 10px;
	height: 200px;
	background-color: rgba(0, 0, 0, 0.3);
	animation: slidet .85s forwards;
	animation-delay: 0s;
  animation-timing-function: ease-in-out;

	/*border: 1px solid purple;*/
}

.rw-slide-in-top {
	top: 200px;
	opacity: 0;
	margin-left: 200px;
	animation: slide-down 1.25s forwards;
	animation-delay: .5s;
}

.delay-0  { animation-delay: .0s;  }
.delay-1  { animation-delay: .1s;  }
.delay-2  { animation-delay: .2s;  }
.delay-3  { animation-delay: .3s;  }
.delay-4  { animation-delay: .4s;  }
.delay-5  { animation-delay: .5s;  }
.delay-6  { animation-delay: .6s;  }
.delay-7  { animation-delay: .7s;  }
.delay-7_5  { animation-delay: .75s;  }
.delay-8  { animation-delay: .8s;  }
.delay-8_5  { animation-delay: .85s;  }
.delay-9  { animation-delay: .9s;  }
.delay-10 { animation-delay: 1.0s; }
.delay-10_5  { animation-delay: 1.05s;  }
.delay-11 { animation-delay: 1.1s; }
.delay-11_5 { animation-delay: 1.15s; }
.delay-12 { animation-delay: 1.2s; }
.delay-13 { animation-delay: 1.3s; }
.delay-14 { animation-delay: 1.4s; }
.delay-15 { animation-delay: 1.5s; }
.delay-16 { animation-delay: 1.6s; }
.delay-17 { animation-delay: 1.7s; }
.delay-18 { animation-delay: 1.8s; }
.delay-19 { animation-delay: 1.9s; }
.delay-20 { animation-delay: 2.0s; }

@keyframes slidel {
	0% { opacity: 0; }
	66% { left: -66%; width: 100%; opacity: 0; }
	100% { left: 0px; width: 100%; opacity: 1; }
}

@keyframes slidet {
	100% { top: 600px; }
}

@keyframes slide-down {
		0% { top: 200px; opacity: 0; 	margin-left: 200px;}
		100% { top: 0px; opacity: 1; 	margin-left: 0px;}
}

@keyframes fade-in {
	0% { background-color: rgba(0, 0, 0, 0); }
	33% { background-color: rgba(0, 0, 0, 0); }
	100% { background-color: rgba(0, 0, 0, 0.65); }
}

@keyframes opac-in {
	0% { opacity: 0; }
	33% { opacity: 0; }
	100% { opacity: 1; }
}
