body {
    background-color: #121212;
    background-image: url("/resources/assets/pw_maze_white.png");
    font-family: 'Open Sans', sans-serif;
}

h1 {
    font-family: 'Spectral', serif;
    font-size: 250%;
}

h2 {
	margin: 10px;
    font-family: 'Spectral', serif;
    font-size: 150%;
}

p {
	margin-left: 20px;
	line-height: 120%;
}


.spacer {
	margin-left: 10px;
	margin: 10px;
}

.wrapper {
	max-width: 600px;
	margin: 0 auto;
	color: #222222;
}

.enter-column {
	color: blue;
}