body {
    background-color: #121212;
    background-image: url("/resources/assets/pw_maze_white.png");
    font-family: 'Open Sans', sans-serif;
}

h1 {
	margin: 5px;
    font-family: 'Spectral', serif;
    font-size: 300%;
}

h2 {
	margin: 5px;
    font-family: 'Spectral', serif;
    font-size: 200%;
}

p {
	margin-left: 15px;
	line-height: 120%;
}
.wrapper {
	max-width: 600px;
	margin: 0 auto;
	color: #222222;
}

.enter-column {
	color: blue;
}